@font-face {
    font-family: 'Manrope Regular';
    src: url(../fonts/Manrope-Regular.woff2);
}
@font-face {
    font-family: 'Manrope ExtraBold';
    src: url(../fonts/Manrope-ExtraBold.woff2);
}
@font-face {
    font-family: 'Manrope ExtraLight';
    src: url(../fonts/Manrope-ExtraLight.woff2);
}
@font-face {
    font-family: 'Monument Extended';
    src: url(../fonts/MonumentExtended-Regular.otf);
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
body {
    background: black;
    color: white;
}
header, footer {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 16px;
    height: 128px;
    z-index: 5;
}
header {
    background: linear-gradient(black, rgba(0, 0, 0, 0));
}
footer {
    background: linear-gradient( rgba(0, 0, 0, 0), black);
    bottom: 0;
}
.headerContent {
    grid-area: 1 / 2 / 2 / 12;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.links p:nth-child(2),
.links p:nth-child(3) {
    margin-left: 32px;
}
.links {
    display: flex;
    font-family: Manrope Regular;
    text-decoration: none;
}
.links a,
.backButton a {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}
.links a:after,
.backButton a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -ms-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.links a:hover:after,
.backButton a:hover:after { 
    width: 100%; 
    left: 0; 
}
.logo {
    height: 48px;
    width: 48px;
    background-image: url(../img/logo.svg);
}