* {
    margin: 0;
    padding: 0;
}

/* --- Fonts --- */

@font-face {
    font-family: 'Libre Baskerville';
    font-weight: normal;
    src: url(fonts/LibreBaskerville-Regular.otf);
}
@font-face {
    font-family: 'Libre Baskerville';
    font-weight: bold;
    src: url(fonts/LibreBaskerville-Bold.otf);
}
@font-face {
    font-family: 'Monument Extended';
    src: url(fonts/MonumentExtended-Regular.otf);
}

.info1 {
    font-family: Libre Baskerville;
    font-weight: bold;
}

.info2 {
    font-family: Libre Baskerville;
}

body {
    margin: 0;
    background: black;
    color: white;
    padding: 0 64px 0 64px;
}

#garden {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: repeat(12, 1fr) ;
    grid-column-gap: 16px;
  }

  #container {
    grid-area: 2 / 4 / 2 / 10;
    /*border: rgba(255, 0, 0) 1px solid;*/
  }

  .kk {
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(image.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 56.25%;
  }

  .inf {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

  #project {
      position: relative;
      margin: 32px 0;
    /*background: url(image.jpg);
    background-size: cover;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 56.25%;
    display: flex;
    flex-direction: column;
    justify-content: center;*/
  }/*
  .inf {
    position: absolute;
    margin-top: 64px;
    }*/
  .project-title {
      font-family: Monument Extended;
      font-size: 4em;
      margin: 0;
      padding: 0;
      
      
  }

    .project-subtitle {
        margin: 0;
        padding: 0;
        
    }

  .cta {
      font-family: Manrope;
      color: white;
      background: #423EFA;
      padding: 16px 32px;
      text-decoration: none;
      display: inline-block;
      
  }
  .numeros {
      display: flex;
      justify-content: space-between;
  }

  .prog {
      border-top: 1px solid white;
      width: 100%;
      margin: 4px;
      padding-top: 4px;
  }